<mat-toolbar color="primary">
  <span>Monitoring Progress</span>
  <a style="margin-left: 50px" mat-button [routerLink]="'/activity/new'">Add activity</a>
  <a mat-button [routerLink]="'/activity/feed'">Feed</a>
  <a mat-button [routerLink]="'/activity/statistics'">Stats</a>
  <a mat-button [routerLink]="'/activity/progress'">Progress</a>

  <span class="fill-remaining-space"></span>

  <span *ngIf="userService.user">
    <img src="{{userService.user.photoUrl}}" width="40" height="40" style="border-radius: 50%; margin-top: 12px" alt="Profile image"/>
  </span>
  <span *ngIf="userService.user">
    <button mat-button [matMenuTriggerFor]="menu">{{userService.user.firstName}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onSignOut()">Sign Out</button>
    </mat-menu>
  </span>
</mat-toolbar>
