<mat-card>
  <mat-card-title class="title">ADD GOAL</mat-card-title>
  <mat-card-content>
    <form
      (ngSubmit)="onGoalSubmitted()"
      [formGroup]="addGoalFormGroup"
      style="margin-top: 20px">
      <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
              <mat-label>Activity type</mat-label>
              <mat-select formControlName="activityType">
                <mat-option *ngFor="let activityType of this.activityTypes" [value]="activityType">
                  {{activityType}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
              <mat-label>Period</mat-label>
              <mat-select formControlName="period">
                <mat-option *ngFor="let period of this.periods" [value]="period">
                  {{period}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
              <mat-label>Goal Measure</mat-label>
              <mat-select formControlName="goalMeasure">
                <mat-option *ngFor="let goalMeasure of this.goalMeasures" [value]="goalMeasure">
                  {{goalMeasure}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="standard">
              <mat-label>Amount</mat-label>
              <input matInput type="number" placeholder="Amount" id="amountInput" formControlName="amount"/>
            </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-raised-button color="primary" type="submit">ADD</button>
    </form>
  </mat-card-content>
</mat-card>
