
<form [formGroup]="addActivityFormGroup" (ngSubmit)="onActivitySubmit()">
  <mat-card class="add-form">
    <mat-card-header>
      <mat-card-title>ADD ACTIVITY</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Activity name</mat-label>
          <input matInput placeholder="Placeholder" id="nameInput" formControlName="name"/>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Activity type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let config of this.configs" [value]="config.name">
              {{config.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard" formGroupName="measure">
          <mat-label>Amount</mat-label>
          <input matInput type="number" placeholder="Amount" id="amountInput" formControlName="value"/>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">ADD</button>
    </mat-card-actions>
  </mat-card>
</form>
