<mat-card *ngIf="stats" class="card">
  <mat-card *ngFor="let dayActivities of dayActivitiesList">
    <mat-card-header>
      <mat-card-title>{{dayActivities.date}}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let activity of dayActivities.activities">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{activity.value.name}}
            <fa-icon (click)="onActivityDeleted(dayActivities, activity)" class="skull-icon float-right" [icon]="faSkull"></fa-icon>
            <fa-icon (click)="onActivityEdit(activity)" class="edit-icon float-right" [icon]="faEdit"></fa-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span class="result-col">Type</span>
              <span class="result-col">{{activity.value.type}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span class="result-col">Amount</span>
              <span class="result-col">{{activity.value.measure.value}}
                <span *ngIf="getMaxForActivityType(activity.value.type).value.max == activity.value.measure.value" style="background-color: dodgerblue">Record!</span>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span class="result-col">Fitness points</span>
              <span class="result-col">{{activity.value.fitnessPoints}}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
  <mat-card-actions>
    <button mat-raised-button color="primary"  (click)="findNextPageOfActivities()" type="submit">LOAD</button>
  </mat-card-actions>
</mat-card>
