.activity-result-list {
  margin-bottom: 30px;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-weight: bold;
  font-size: 20px;
}

.result-col {
  width: 10rem;
}

.add-form {
  width: 40vw;
  margin: 0 auto;
}
