<div *ngIf="dateChartData">
  <mat-grid-list cols="1" rowHeight="290px" *ngFor="let aggregate of selectedChartAggregates">
    <mat-grid-tile>
      <h5 class="header">{{aggregate}}</h5>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [timeline]="true"
        [results]="visibleDiagram == 'DATE' ? dateChartData.get(aggregate) : weekChartData.get(aggregate)">
      </ngx-charts-line-chart>
    </mat-grid-tile>
  </mat-grid-list>
</div>
