
<div *ngIf="chartData">
  <div  *ngFor="let aggregate of selectedChartAggregates"
        class="card progress-card">
    <div class="card-body">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="aggregate"
        [timeline]="true"
        [results]="chartData.get(aggregate)">
      </ngx-charts-line-chart>
    </div>
  </div>
</div>



